---
layout: page
title: Home
weight: 0
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="../../favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="jquery.dataTables.min.js"></script>

    <script src="bib-list.js"></script>

    <link rel="stylesheet" href="bib-publication-list.css" type="text/css" />

    <title>Harvard CS 281</title>

    <!-- Bootstrap core CSS -->

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="page.css">
  </head>

  <body>
    <div class="row">
    </div>
    <div class="container">
      <div class="panel panel-primary" style="margin-top:10px;background-color:purple;border-color:#000000;">
        <div class="panel-heading" style="background-color:purple;border-color:#2D6ED3;">
          <h1>CS281: Advanced Machine Learning</h1>
          <p class="lead">Alexander M. Rush, Harvard University</p>

        </div>
        <div class="panel-footer">
          <ul class="nav nav-tabs invert-colors">
            <li class="active"><a data-toggle="tab" href="#home_tab">Home</a></li>
            <li><a data-toggle="tab" href="#schedule_tab">Schedule</a></li>
            <li><a data-toggle="tab" href="#people_tab">People</a></li>
            <!--li><a data-toggle="tab" href="#grading_tab">Grading</a></li>
            <li><a data-toggle="tab" href="#references_tab">References</a></li-->
            <!-- <li><a href="#faq">FAQ</a></li> -->
          </ul>
        </div>
      </div>

      <div class="container">
          <div class="tab-content">
              <div id="home_tab" class="row tab-pane fade in active">
                  <div class="row container">
                      <p><span style="font-size: 1.17em;font-weight: bold;">Time:</span> Mon/Wed 1:30-2:45pm</p>
                      <p><span style="font-size: 1.17em;font-weight: bold;">Location:</span> Science Center D</p>
                  </div>
                  <div class="row container">
                      <h3 id="announcements_description">Announcements</h3>
                      <div class="container ">
                      <!-- <div class="panel-body"> -->
                         <ul>
                         </ul>
                      </div>
                  </div>
                  <div class="row container">
                      <h3 id="description">Course Info</h3>
                      <div class="container ">
                      <!-- <div class="panel-body"> -->
                          <dl>
                              <dt>Forum and Announcements</dt>
                              <dd><ul>
                                  <li><a href="https://piazza.com/class/jl3q9gb9ip0142">Piazza </a></li>
                              </ul></dd>

                              <dt>Section Times (TBD) </dt>
                              <dd>
                                  <ul>
                                    <li>Thursday 5-6pm</li>
                                    <li>Friday 11-11:59am</li>
                                  </ul>
                              </dd>
                              <dt>Syllabus and Collaboration Policy</dt>
                              <dd>
                                  <ul>
                                      <li>See the course <a href="syllabus.pdf">syllabus</a>
                                  </ul>
                              </dd>

                              <dt>Grading</dt>
                              <dd>
                                <ul>
                                    <li> Assignments (55%) </li>
                                    <li> Midterm Exams (30%) </li>
                                    <li> Final Project (15%) </li>
                                </ul>
                              </dd>

                              <dt>Links</dt>
                              <dd>
                                  <ul>
                                     <li><a href="https://canvas.harvard.edu/courses/29707">Canvas Site</a></li>
                                  </ul>
                              </dd>

                              <dt>Texts</dt>
                              <dd><ul>
                                  <li> Murphy, <a href="http://harvardcoopbooks.bncollege.com/webapp/wcs/stores/servlet/BNCB_TextbookDetailView?catalogId=10001&item=N&langId=-1&productId=600005699137&storeId=52084">Machine Learning: A Probabilistic Perspective</a>
                                  <li> Bishop, <a href="https://www.amazon.com/Pattern-Recognition-Learning-Information-Statistics/dp/0387310738">Pattern Recognition and Machine Learning</a>
                              </ul></dd>
                              <dt>Other References</dt>
                                    <dd><ul>
                                  <li> Gelman et al, <a href="http://www.stat.columbia.edu/~gelman/book/"> Bayesian Data Analysis </a> </li>
                                  <li> Petersen and Pedersen, <a href="http://www2.imm.dtu.dk/pubdb/views/edoc_download.php/3274/pdf/imm3274.pdf">The Matrix Cookbook</a>
                                  <li> Wainwright and Jordan <a href = "https://people.eecs.berkeley.edu/~wainwrig/Papers/WaiJor08_FTML.pdf"> Graphical Models, Exp. Families, and Variational Inference (Section 3.3) </a>
                                  <li> Blei et al, <a href="https://arxiv.org/pdf/1601.00670.pdf">Variational Inference: A Review for Statisticians</a>
                              </ul></dd>
                          </dl>
                      </div>
                  </div>
              </div>
              <!--div id="references_tab" class="row tab-pane fade">
                  <div class="row container">
                      <dl>
                          <dd><ul>
                              <li> Murphy, <a href="http://harvardcoopbooks.bncollege.com/webapp/wcs/stores/servlet/BNCB_TextbookDetailView?catalogId=10001&item=N&langId=-1&productId=600005699137&storeId=52084">Machine Learning: A Probabilistic Perspective</a>
                              <li> Gelman et al, <a href="http://www.stat.columbia.edu/~gelman/book/"> Bayesian Data Analysis </a> </li>
                              <li> Petersen and Pedersen, <a href="http://www2.imm.dtu.dk/pubdb/views/edoc_download.php/3274/pdf/imm3274.pdf">The Matrix Cookbook</a>
                              <li> Blei et al, <a href="https://arxiv.org/pdf/1601.00670.pdf">Variational Inference: A Review for Statisticians</a>
                          </ul></dd>
                      </dl>
                  </div>
</div-->
           <div id="schedule_tab" class="row tab-pane fade">
             <div class="row container">
                     <div class="tab-content">
                         <table class="table">
                             <tr><th>Date</th> <th>Area</th> <th>Topic</th><th>Demos </th><th>Reading</
th><th>Assignment <br> (DUE: Fri 5pm)</th></tr>
                             {% for lecture in site.data.all.lectures %}
                             <tr class = {{lecture.active|default("",true)}}>
                               <td> {{site.data.all.dates[forloop.index]}} </td> <td>
                                 {{lecture.topic
| default("",true)}} </td>
                                 <td> {{lecture.subtopic|default("", true)}}</td>
                                 <td>
                                     {{lecture.demos|default("", true)}}
                                 </td>
                               <td>
                                 <ul>
                                 {% for paper in lecture.papers %}
                                 <li>{{paper |default("", true)}}</li>
                                 {% endfor %}
                                 </ul>
                                 </td>

                                 <td> {{lecture.hw | default("",true)}}</td>
                             </tr>
                             {% endfor %}
                         </table>
                     </div>
                 </div>
             </div>

              <div id="people_tab" class="row tab-pane fade">
                  <div class="row container">
                      <dl>
                          <dt>Instructor</dt>
                          <dd> <ul>
                              <li>Alexander "Sasha" Rush  <br>
                                  OH: Mon 3-5, MD 217
                              </li>
                              <li>Email: Piazza preferred or srush at seas.harvard.edu
                              </li></ul>
                          </dd>

                          <dt>Teaching Assistants</dt>
                          <dd>
                              <ul>
                                  {% for ta in site.data.all.tas %}
                                <li>

                                  {{ta.name}}

                                </li>
                                                                  {% endfor %}
                               </ul>
                          </dd>
                          <dt>Office Hours</dt>
                          <dd>
                            <ul>
                              {% for oh in site.data.all.ohs %}
                              <li>{{oh.time}}: {{oh.location}}</li>
                              {% endfor %}
                            </ul>
                          </dd>
                      </dl>
                  </div>
              </div>
              <div id="sections_tab" class="row tab-pane fade">
                  <h3>Time and Location</h3>
                  <div class="row container">
                      <ul>
                          <li>Thursday 5-6pm: Pierce Hall 320</li>
                          <li>Friday 11-11:59am: MD 223</li>
                      </ul>
                  </div>
                  <hr>
                  <div class="row container">
                       <table class="table">
                           <thead>
                               <tr _base_target="_blank">
                                   <th>Date</th>
                                   <th>Location</th>
                                   <th>Topic</th>
                                   <th>Materials</th>
                               </tr>
                           </thead>
                           <tbody>
                               <tr class="lecture" _base_target="_blank">
                                   <td>Sep. 1, 10-11am (Mark)</td>
                                   <td>Pierce 301</td>
                                   <td>
                                       <a href="https://github.com/harvard-ml-courses/cs281-sections/tree/master/00">Math Review (Linear Algebra, Calculus, Probabilistic Theory)</a>
                                   </td>
                                   <td>
                                   </td>
                               </tr>
                               <tr>
                                   <td>Sep. 4, 5-6pm (Zhirui)</td>
                                   <td>Pierce 301</td>
                                   <td>
                                       <a href="https://github.com/harvard-ml-courses/cs281-sections/tree/master/00">Math Review (Linear Algebra, Calculus, Probabilistic Theory)</a>
                                   </td>
                                   <td>
                                   </td>
                               </tr>
                               <tr>
                                   <td>Sep. 7, 5-6pm (Rachit)</td>
                                   <td>Pierce 320</td>
                                   <td>
                                       Code Review (Python, Numpy, Matplotlib, PyTorch)
                                   </td>
                                   <td>
                                   </td>
                               </tr>
                               <tr>
                                   <td>Sep. 8, 11-11:59am (Rachit)</td>
                                   <td>MD 223</td>
                                   <td>
                                       Code Review (Python, Numpy, Matplotlib, PyTorch)
                                   </td>
                                   <td>
                                   </td>
                               </tr>
                           </tbody>
                       </table>
                  </div>
              </div>
              <!--div id="grading_tab" class="row tab-pane fade">
                  <div class="row container">
                      <p class="container">
                          Grades are determined by four aspects of the class:
                          <ul>
                              <li> Assignments (35%) </li>
                              <li> Scribing (10%) </li>
                              <li> Midterm Exam  (15%) </li>
                              <li> Final Project (40%) </li>
                          </ul>
                      </p>
                  </div>
              </div-->
              <!--div id="homework_tab" class="row tab-pane fade">
                  <div class="row container">
                      <p class="container">
                          <ul>
                              <li>T0 <a href="https://github.com/harvard-ml-courses/cs281-f17-homework/tree/master/T0">Preliminary</a> (<a href="https://canvas.harvard.edu/courses/29707/assignments/161722">submit</a>). Due on <font color="red">Sep 8 at 5pm</font>.</li>
                              <li>T1 <a href="https://github.com/harvard-ml-courses/cs281-f17-homework/tree/master/T1">Fundamentals</a> (<a href="https://canvas.harvard.edu/courses/29707/assignments/167410">submit</a> | <a href="">self-grading</a>)</li>
                          </ul>
                      </p>
                  </div>
              </div-->
          </div>


      <!-- <div class="row container"> -->
      <!-- <h3 id="faq">FAQ</h3> -->
      <!-- <p class="container"> -->
      <!--     <ul> -->
      <!--       <li> <p> </p> -->
      <!--     </ul> -->
      <!-- </p> -->
      <!-- </div> -->




    </div> <!-- /container -->


  </body>

  <script>
    $(function(){
    var hash = window.location.hash;
    hash && $('ul.nav a[href="' + hash + '"]').tab('show');

    $('.nav-tabs a').click(function (e) {
    $(this).tab('show');
    var scrollmem = $('body').scrollTop() || $('html').scrollTop();
    window.location.hash = this.hash;
    $('html,body').scrollTop(scrollmem);
    });
    });
    </script>
</html>



<head>


</head>
<html>

</html>
